body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    background-color: #0f4fa9;
    text-align: center;
    color: #ffffff;
    
}

.container {
    width: 600px;
    height: 600px;
    background-color: #5c9df9;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 40px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);

}

#search {
    margin-top: 40px;
    width: 88%;
    height: 50px;
    border-radius: 15px;
    border: none;
    padding-left: 20px;
    font-size: 18px;
    box-sizing: border-box;
    color: #333;
}
#search:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}
#city-name {
    font-weight: bold;
    font-size: 60px;
    margin: 0;
}

.mini-container {
    display: flex;
    flex-direction: column;
    gap: 9px;
    margin-top: 20px;
}

.btn {
    margin-top: 0;
    padding: 0px;
}
button {
  all: unset; 
  cursor: pointer;
  font-size: 20px;
  line-height: 1px;
  margin-top: 0;
}

.weather-icon {
    font-size: 70px;
    color: #FFD700; /* bright golden sun */
    margin: 20px auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .temp {
    font-size: 20px;
    margin: 0;
    font-weight: bold;
    color: #ffffff;
  }

 
  .weather-details {
    width: 400px;
    height: 150px;
    background-color: white;
    color: #000000;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 70%;
    left: 17%;
    
  }
    .weather-details p {
        margin: 0;
        padding: 5px;
    }

    .detail {
        display: flex;
        flex-direction: column;
        padding: 10px;
        font-size: 16px;
        color: #333;
    }
    #exemptional-p {
        font-size: 20px;
        color: #000000;
        font-weight: bold;
        margin-top: 0;
    }
    .detail p {
        margin: 0;
        padding: 5px;
        color: #6e6d6d;
        font-weight: lighter;
    }
    